<section class="jumbotron">
  <h1 class="display-4">Teach a machine</h1>
  <p class="lead">A tool to help out our machine friends.</p>
  <p>Teach a machine is used to gather teaching data for machine learning data sets. Participation is easy. Answer a few demographic questions we use to evaluate how inclusive our data set is and start labeling.</p>
  <a class="btn btn-primary btn-lg" href="/start" role="button">Let's start!</a>
</section>
