body {
  padding-top: 50px;
}

#demographic {}
  #demographic .container {
    padding-left: 0;
  }
  #demographic #start-button-wrapper {
    margin-top: 20px;
  }

#label {}
  #label #sentence {
    font-size: 2rem;
  }
    #label #sentence.loading {
      color: #999;
    }

#alert {
  display: none;
}
